#canvas_container
.instructions
  h1 Instructions
  img(class="close", src="images/close-button.png", width=20, height=20)
  ul
    li.arrow 
      span.title use the arrow keys
      img(src="images/arrow_keys.png", width=110, height=75)
    li.target 
      span.title target
      img(src="images/target.png", width=75, height=75)
      span.info RUN!
    li.assassin 
      span.title assassin
      img(src="images/assassin.png", width=75, height=75)
      span.info KILL!
    li.killing 
      span.title killing
      img(src="images/killing.png", width=100, height=75)
      span.info assassin kills by contact
      
script(src="socket.io/socket.io.js")
script(src="/javascripts/jquery.min.js")
script(src="/javascripts/raphael-min.js")
script(src="/javascripts/scale.raphael.js")
script(src="/javascripts/maze.js")
script(src="/javascripts/circle.js")
script(src="/javascripts/blood.js")
script(src="/javascripts/application.js")