#right-sidebar
  input.nickname(type="text", placeholder="Nickname here")
  button.change_nickname(type="button") Update
  h3 Users:
  ul#users
    li.me <span class="color"></span> <span class="nickname"></span>
#content
  #canvas_container
  
  h2 Instructions!
  p Arrow keys move your <span id="circle">CIRCLE</span>. Use the mouse to aim.