doctype html
html
  head
    title= title
    link(rel="icon", href="images/favicon.ico", type="image/x-icon") 
    link(rel="shortcut icon", href="images/favicon.ico", type="image/x-icon")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body