<html>
    <head>
        <title>Raphael Play</title>
        <script type="text/javascript" src="../public/javascripts/jquery.min.js"></script>
        <script type="text/javascript" src="../public/javascripts/raphael.js"></script>
        <script type="text/javascript" src="../public/javascripts/test.js"></script>
        <style type="text/css">
            #canvas_container {
                width: 503px;
                border: 1px solid #aaa;
            }
        </style>
    </head>
    <body>
        <div id="canvas_container"></div>
    </body>
</html>