body {
  margin: 0;
  padding: 0 250px 0 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ddd;
}

a {
  color: #00B7FF;
}

#content
{
  margin: 0 auto;
  padding: 20px;
	overflow: auto;
	width: 500px;
}

#canvas_container
{
    margin: 20px auto 0;
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px#888;
    box-shadow: 0 0 5px 5px #888;
    width: 500px;
    height: 500px;
    background-color: white;
}

#right-sidebar {
  padding-top: 20px;
  position: absolute;
  top: 0;
  right: 0;
  width: 260px;
  height: 95%;
}

ul#users {
  margin-left: 0;
  padding: 5px;
  border: 1px solid #ccc;
  padding-left: 5;
  height: 200px;
  overflow-y: scroll;
}

ul#users li {
  list-style: none;
}

ul#users li span.color {
  height: 10px;
  width: 10px;
  display: inline-block;
}